<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/styles/font.css" />
    <link rel="stylesheet" href="../../assets/styles/style.css" />

    <link rel="stylesheet" href="../../assets/styles/calendar.css">
</head>
<body>
    


  <!-- Calendar -->
  <div class="weekly-container">
      <div class="weekly-header">
          <button type="button" class="nav-btn">
              <i class="ico-prev"></i><span class="sr-only">이전</span>
          </button>
          <div class="weekly-title">02.16 ~ 02.22</div>
          <button type="button" class="nav-btn dim">
            <i class="ico-next"></i><span class="sr-only">다음</span>
          </button>
      </div>
      <div class="weekly-grid">
          <div class="weekly-day-col sun">
              <div class="weekly-day-name">일</div>
              <div class="weekly-chart-area">
                  <div class="weekly-donut-wrap">                      
                      <span class="weekly-date-num">12</span>
                  </div>
              </div>
          </div>
          <div class="weekly-day-col">
              <div class="weekly-day-name">월</div>
              <div class="weekly-chart-area">
                  <div class="weekly-donut-wrap">                      
                      <span class="weekly-date-num">13</span>
                  </div>
              </div>
          </div>
          <div class="weekly-day-col">
              <div class="weekly-day-name">화</div>
              <div class="weekly-chart-area">
                  <div class="weekly-donut-wrap">                      
                      <span class="weekly-date-num">14</span>
                  </div>
              </div>
          </div>
          <div class="weekly-day-col">
              <div class="weekly-day-name">수</div>
              <div class="weekly-chart-area">
                  <div class="weekly-donut-wrap">                      
                      <span class="weekly-date-num">15</span>
                  </div>
              </div>
          </div>
          <div class="weekly-day-col selected">
              <div class="weekly-day-name">목</div>
              <div class="weekly-chart-area">
                  <div class="weekly-donut-wrap">                      
                      <span class="weekly-date-num">16</span>
                      <span class="weekly-date-tx">오늘</span>
                  </div>
              </div>
          </div>
          <div class="weekly-day-col end">
              <div class="weekly-day-name">금</div>
              <div class="weekly-chart-area">
                  <div class="weekly-donut-wrap">                      
                      <span class="weekly-date-num">17</span>
                      <span class="weekly-date-tx">내일</span>
                  </div>
              </div>
          </div>
          <div class="weekly-day-col">
              <div class="weekly-day-name">토</div>
              <div class="weekly-chart-area">
                  <div class="weekly-donut-wrap">                      
                      <span class="weekly-date-num">18</span>
                  </div>
              </div>
          </div>
      </div>
  </div>


</body>
</html>