#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}

.news-item {
  display: flex;
  border: 1px solid #ddd;
  margin-top:2vw;
  padding:1rem;
  .photo {
    width: 20%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width:calc(100% - 20%);
    padding: 0 2rem;
  }
}