/*health*/
.my-health-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4rem 2rem 3rem;
    height: 6.6rem;
}


.btn-quick {
    position:fixed;
    bottom:8rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    background: #222;
    border-radius: 50%;;
}
.quick-wrap {
    position: absolute;
    bottom:8rem;
    right: 2rem;
    background: #fff;
    width:15rem;
    height:20rem;
}
.quick-overlay {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

.quick-overlay.open {
    display: block;
}