html {
  font-size: 10px;
}
body {
  font-family: "Pretendard";
  font-size: 1.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.full-height {
  height: calc(var(--vh, 1vh) * 100);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem 1.6rem;
  vertical-align: middle;
}
.btn span,
.btn i,
.btn strong {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.top-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.9rem 1.6rem;
    position: relative;
    height: 6.6rem;
}
.top-header-nav h2 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.5px;
}
.top-header-nav .btn-back {
    position: absolute;
    left: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
}
.top-header-nav .btn-resist,
.top-header-nav .btn-trash,
.top-header-nav .btn-close {
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
}

.switch input {
    display: none;
}
.switch label {
    display: block;
    position: relative;
    background: #cacaca;
    border-radius: 40px;
    width: 78px;           
    height:38px;
    cursor: pointer;
}
.switch label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    transition: 0.35s;
}
.switch input:checked + label {
    background: #34c759;
}
.switch input:checked + label::after {           
    transform: translateX(38px);
    transition: 0.35s;
}

.checkForm label {
    display: flex;
    align-items: center;
    gap:0.8rem;        
}
.checkForm .checkForm-custom {
    position: relative;
    width: 2.4rem;
    height:2.4rem;
    background: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}   
.checkForm input[type="checkbox"] + label .checkForm-custom::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%,-65%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.checkForm input[type="checkbox"]:checked + label .checkForm-custom::after {
    opacity: 1;
}
.checkForm input[type="radio"] + label .checkForm-custom {
    border-radius: 50%;       
}   
.checkForm input[type="radio"] + label .checkForm-custom::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%) scale(0);
    width:1.2rem;
    height:1.2rem;
    background: #222;
    border-radius: 50%;
    transition: transform 0.2s ease;
}
.checkForm input[type="radio"]:checked + label .checkForm-custom::after {
    transform: translate(-50%,-50%) scale(1);
}