:root {    
    --mg4:0.4rem;
    --mg8:0.8rem;
    --mg10:1rem;
    --mg12:1.2rem;
    --mg18:1.8rem;
    --mg20:2rem;
    --mg24:2.4rem;
    --mg28:2.8rem;
    --mg32:3.2rem;
    --mg40:4rem;
    --mg48:4.8rem;
    --mg60:6rem;
    --mg80:8rem;
    --mg120:12rem;
    --Black:#000;
    --gray22:#222;
    --gray33:#333;
    --gray66:#666;
    --gray76:#767676;
    --gray99:#999;
    --graycc:#ccc;
    --grayca:#cacaca;
    --graydf:#dfdfdf;
    --grayea:#eaeaea;
    --grayf3:#f3f3f3;
    --grayf8:#f8f8f8;
    --White:#fff;
    --PR_50:#0072F8;
    --PR_40:#4FA0FF;
    --PR_30:#93C4FF;
    --PR_20:#D8EAFF;
    --PR_10:#F4F9FF;
    --SC_50:#F90;
    --SC_40:#ffad33;
    --SC_30:#ffc266;
    --SC_20:#ffe0b2;
    --SC_10:#fff5e5;
    --Positive:#4CAF50;
    --Link:#0091EA;
    --Warning:#F9A825;
    --Negative:#D32F2F;    
    --primary-color:#39b695;
} 