:root {    
    --safe-bottom: env(safe-area-inset-bottom, 0px);
    --primary-color:#39b695;
    --Text-Base:#282828;
    --Text-Neutral:#767C88;
    --Text-Neutral-Soft:#A2A9B4;
    --Text-Disabled:#CACACA;
    --Surface-Neutral:#F2F3F5;
    --Blue400:#82A2E7;
    --Yellow700:#FFC31C;
    --Orange400:#f99075;
    --Border-Neutral:#E2E6ED;
} 

