.visual {
    width: 100%;
    height: 100vh;
    background:#ddd;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
    }

    @media (max-width:1023px) {
        
    }
}