.slider-wrap {
    max-width: 1560px;
    margin:0 auto;
    overflow: hidden;

    h3{
        color:#fff;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        font-size:3rem;
        margin-top:6rem;
    }
}