<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/styles/font.css" />
    <link rel="stylesheet" href="../../../assets/styles/style.css" />
    <script type="module" src="../../../utils/ui_common.js"></script>
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        
        
        /* .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 8px;
        }
        .week-calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 12px;
        } */

     
  


    </style>
</head>
<body>
    
        
    
    <!-- <div class="switch">
        <input type="checkbox" id="switchTg">
        <label for="switchTg">
            <span class="sr-only">설정</span>
        </label>
    </div> -->

  
     <span class="checkForm">
        <input type="checkbox" id="chk1">
        <label for="chk1">
            <span class="checkForm-custom"></span>
            <span class="checkForm-label">체크박스</span>
        </label>
     </span>
     <span class="checkForm">
        <input type="radio" id="rdo1" name="rdo">
        <label for="rdo1">
            <span class="checkForm-custom"></span>
            <span class="checkForm-label">라디오</span>
        </label>
     </span>
     <span class="checkForm">
        <input type="radio" id="rdo2" name="rdo">
        <label for="rdo2">
            <span class="checkForm-custom"></span>
            <span class="checkForm-label">라디오</span>
        </label>
     </span>
   

</body>
</html>