<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/styles/font.css">
    <link rel="stylesheet" href="../../../assets/styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="../../../assets/styles/wheelpicker.css">

    <script type="module" src="../../../utils/picker-init.js"></script>

</head>
<body>
    <div>

        <div class="wheel-wrapper">
            <div class="wheel-label">년</div>
            <div class="wheel-picker" id="year-picker">
                <div class="wheel-highlight"></div>
                <div class="wheel-list" id="year-list"></div>
            </div>
        </div>

    </div>
</body>
</html>