

#root {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  padding: 2rem;
  text-align: center;
  background: #efefef;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.form-wrap {
  padding: 4vw;
}

.post-contents{
  border: 1px solid #ddd;
  padding: 2vw;
  margin: 4vw;
}
.post-item a {
  font-size: 1.4rem;
}